 body {
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     width: 100%;
     background-color: #062136;
     overflow: hidden;
 }

 .text {
     position: absolute;
     font-size: 24px;
     color: black;
 }

 .center {
     position: absolute;
     height: 35%;
     width: 35%;
     background-color: #67fffe;
     border-radius: 50%;
 }

 .circle-container {
     position: relative;
     width: 400px;
     height: 400px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .circle {
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     animation-name: rotate, pulse;
     animation-duration: 5s, 1s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }

 .circle-segment {
     position: absolute;
     width: 40%;
     height: 40%;
     border-style: solid;
     border-radius: 50%;
     border-width: 2px;
 }

 .segment-1 {
     transform: rotate(0deg);
     border-width: 4px;
     border-color: #67fffe transparent #67fffe transparent;
 }

 .segment-2 {
     transform: rotate(120deg);
     border-width: 6px;
     border-color: #67fffe transparent #67fffe transparent;
 }

 .segment-3 {
     transform: rotate(240deg);
     border-width: 8px;
     border-color: #67fffe transparent #67fffe transparent;
 }

 .segment-1::before,
 .segment-2::before,
 .segment-3::before {
     content: "";
     position: absolute;
     width: 2px;
     height: 50%;
     background-color: #67fffe;
     transform-origin: center bottom;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -100%);
 }

 #content {
     background-color: #67fffe;
     background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.25) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.25) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25) 76%, transparent 77%, transparent);
     background-size: 17px 17px;
 }

 .circleA {
     height: 55%;
     width: 55%;
 }

 .circleB {
     height: 57%;
     width: 57%;
 }

 .normalCircle {
     position: absolute;
     border-radius: 50%;
     border: 1px solid #67fffe;
 }

 .circleOutA {
     position: absolute;
     height: 55%;
     width: 55%;
     border: 10px solid;
     border-color: #67ffff8e transparent transparent transparent;
     border-radius: 50%;
     transform: rotate(30deg);
     animation: rotate 2s alternate-reverse infinite;
 }

 .circleOutB {
     position: absolute;
     height: 55%;
     width: 55%;
     border: 10px solid;
     border-color: #67ffff8e transparent transparent transparent;
     border-radius: 50%;
     transform: rotate(90deg);
     animation: rotate 5s alternate-reverse infinite;
 }

 .dash {
     position: absolute;
     height: 71%;
     width: 71%;
     border: 6px dashed;
     border-radius: 50%;
     border-color: transparent #67fffe transparent transparent;
 }

 .nearDashed {
     height: 62%;
     width: 62%;
 }

 .dashed {
     height: 64%;
     width: 64%;
     border: dotted #67fffe;
     animation: rotate 25s linear infinite;
     animation-direction: reverse;
 }

 .height80 {
     height: 80%;
     width: 80%;
 }

 .componentD {
     position: absolute;
     border-radius: 50%;
 }

 .designDashed{
    animation: widthColor 2s linear infinite;
 }

 .ddA {
     border: 1rem solid;
     border-color: transparent transparent transparent #67fffe;
     transform: rotate(10deg);
     height: 78%;
     width: 78%;
 }

 .ddB {
     border: 1.5rem solid;
     border-color: transparent transparent transparent #67fffe;
     height: 76%;
     width: 76%;

 }

 .ddC {
     border: 1rem solid;
     border-color: transparent transparent transparent #67fffe;
     transform: rotate(-10deg);
     height: 78%;
     width: 78%;
 }

 .ddD {
     border: 0.85rem solid;
     border-color: transparent transparent transparent #062136;
     transform: rotate(10deg);
     height: 79%;
     width: 79%;
 }

 .ddE {
     border: 1.3rem solid;
     border-color: transparent transparent transparent #062136;
     height: 77%;
     width: 77%;

 }

 .ddF {
     border: 0.85rem solid;
     border-color: transparent transparent transparent #062136;
     transform: rotate(-10deg);
     height: 79%;
     width: 79%;
 }

 .dashedD {
     border-left: 4px dashed #67fffe;
     border-radius: 50%;
     height: 87%;
     width: 87%;
     z-index: 99;
     position: absolute;
 }

 .dotD {
     position: absolute;
     height: 80%;
     width: 80%;
     border: 5px dotted;
     border-radius: 50%;
     border-color: transparent transparent transparent #67fffe;
     border-image-slice: 1;
 }

 .plain {
     position: absolute;
     height: 80%;
     width: 80%;
     border: 3px solid;
     border-color: transparent #67fffe transparent transparent;
     border-radius: 50%;
     animation: rotate 1s linear infinite;
     z-index: -1;
 }

 /* after designer component  */
 .dots {
     position: absolute;
     height: 86%;
     width: 86%;
     border: 2px dashed;
     border-color: transparent #67fffe transparent transparent;
     border-radius: 50%;
     transform: rotate(-30deg);
     animation: tickTock 3s linear infinite;
 }

 .outerArea {
     /* position: absolute; */
     height: 130%;
     width: 130%;
 }

 .outerA {
     position: absolute;
     border: 5px dashed;
     border-color: transparent #67fffe transparent transparent;
     border-radius: 50%;
 }

 .outerB {
     position: absolute;
     border: 5px solid;
     border-color: transparent #67ffffc5 transparent transparent;
     border-radius: 50%;
 }

 .verticle {
     position: absolute;
     height: 125%;
     width: 125%;
     border: 2px solid #67fffe;
     border-radius: 50%;
     animation-name: rotate, vertRotate;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-duration: 5s;
     animation-direction: alternate-reverse;
     z-index: -2;
 }

 .vertDash {
     position: absolute;
     height: 123%;
     width: 123%;
     border: 2px dashed goldenrod;
     border-radius: 50%;
     animation-name: rotate, vertRotate;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     z-index: -2;
 }

 .a {

     animation-duration: 15s;
     animation-direction: reverse;
 }

 .b {
     animation-duration: 10s;
     animation-direction: alternate-reverse;
 }

 .c {
     animation-duration: 7s;
     animation-direction: normal;
 }

 .d {
     animation-duration: 17s;
     animation-direction: alternate-reverse;
 }

 /* keyframes  */


 @keyframes widthColor {
    0%, 100%{
        border: 2px solid #67fffe;
    }
    50%{
        border: 4px solid #daa520;
    }
 }
 
 @keyframes vertRotate {
     0% {
         width: 125%;
     }

     50% {
         width: 115%;
     }

     100% {
         width: 125%;
     }
 }

 @keyframes tickTock {
     0% {
         transform: rotate(-30deg);
     }

     50% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(-30deg);
     }
 }

 @keyframes rotate {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 @keyframes pulse {

     0%,
     100% {
         height: 100%;
         width: 100%;
     }

     50% {
         height: 105%;
         width: 105%;
     }
 }